.footer {
  background-color: #33323d;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer {
  color: white;
  font-family: "Public Sans";
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 2px;
  text-transform: uppercase;
  display: flex;
  gap: 42px;
}
footer section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 42px;
}
footer nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
}
